In [ ]:
"ukol-10: Zaměstnanci a Projekty

Zadání 1
Uvažuj, že zpracováváš analýzu pro softwarovou firmu. 
Firma má kanceláře v Praze, Plzni a Liberci. Seznam zaměstnanců pro jednotlivé kanceláře najdeš v souborech zam_praha.csv, zam_plzeň.csv a zam_liberec.csv."

In [3]:
import pandas

In [7]:
zam_praha = pandas.read_csv('zam_praha.csv')
zam_plzen = pandas.read_csv('zam_plzen.csv')
zam_liberec = pandas.read_csv('zam_liberec.csv')

Načti data o zaměstnancích z CSV souborů do tabulek (DataFrame). Ke každé tabulce přidej nový sloupec mesto, které bude obsahovat informaci o tom, ve kterém městě zaměstnanec pracuje.

In [8]:
zam_praha['mesto'] = 'Praha'
zam_plzen['mesto'] = 'Plzeň'
zam_liberec['mesto'] = 'Liberec'

Vytvoř novou tabulku zamestnanci a ulož do ní informace o všech zaměstnancích (operace concat).

In [10]:
zamestnanci = pandas.concat([zam_praha, zam_plzen, zam_liberec])

In [11]:
zamestnanci.head()

      jmeno prijimeni   telefonni_cislo  cislo_zamestnance  mesto
0     Brian      Hall  +421 949 656 098                 30  Praha
1     Marta  Kolářová       730 456 163                 32  Praha
2      John   Moravec       725 092 179                 33  Praha
3  Dominika   Kopecká       722 747 626                 34  Praha
4    Marcel     Hájek  +421 902 928 669                 35  Praha

Ze souboru platy_2021_02.csv načti platy zaměstnanců za únor 2021. Propoj tabulku (operace join) s platy a tabulku se zaměstnanci pomocí sloupce cislo_zamestnance.

In [14]:
platy = pandas.read_csv('platy_2021_02.csv')

In [15]:
joined = zamestnanci.join(platy.set_index('cislo_zamestnance'), on='cislo_zamestnance')

In [16]:
joined.head()

      jmeno prijimeni   telefonni_cislo  cislo_zamestnance  mesto     plat
0     Brian      Hall  +421 949 656 098                 30  Praha  33500.0
1     Marta  Kolářová       730 456 163                 32  Praha  53000.0
2      John   Moravec       725 092 179                 33  Praha  38400.0
3  Dominika   Kopecká       722 747 626                 34  Praha  36800.0
4    Marcel     Hájek  +421 902 928 669                 35  Praha      NaN

Porovnej rozměry tabulek před spojením a po spojení. Pokud nemá některý zaměstnanec plat za únor, znamená to, že v naší firmě již nepracuje.

Spočti průměrný plat zaměstnanců v jednotlivých kancelářích.

In [21]:
prumerny_plat_kanclar = joined.groupby('mesto')['plat'].mean()

In [22]:
prumerny_plat_kanclar

mesto
Liberec    43775.000000
Plzeň      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

Zadání 2
Pokračuj ve své práci pro softwarovou firmu. Ze souboru vykazy.csv načti informace o výkazech na projekty pro jednoho vybraného zákazníka.

In [23]:
vykazy = pandas.read_csv('vykazy.csv')

Načti data ze souboru a ulož je do tabulky.

In [25]:
vykazy.head()

         date  hours project  emloyee_id
0  2021-02-01    2.5     F30          13
1  2021-02-01    3.4     W05          70
2  2021-02-01    2.1     JL9          72
3  2021-02-01    5.2     F30           3
4  2021-02-01    2.4     TE1          54

Proveď agregaci a zjisti celkový počet vykázaných hodin za jednotlivé projekty.

In [27]:
celkove_hodiny_projektu = vykazy.groupby('project')['hours'].sum()